<!DOCTYPE html>
<html>
  <head>
    <title>My Super SnackTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="header">
        <div>Welcome, <%= current_user.username.titlecase %> </div>
        <div><%= link_to "Logout", logout_path %></div>
      </div>
    <% else %>
      <div>Please log in</div>
    <% end %>
    <%= yield %>
  </body>
</html>
